
.gorilla2 {
    height: 150;
    width: 190;
    border-style: ridge;
    border-color: peru;
    border-width: 20px;
}

.gorilla3 {
    height: 150;
    width: 180;
    border-style: ridge;
    border-color: peru;
    border-width: 20px;
}

body {
    background-color: burlywood;
}

body{
    color: green;
    font-style: oblique;
    font-size: larger;
}